#banner{
    padding-top: 46px;
    background-color:#F1F3FF;
}

#banner img{
    width: 100%;
}

#banner .banner-content-left{
    margin-top: 100px;
}

#banner .banner-content-left button{
    background-color: #5CB85F;
    border: none;
}