#footer{
    margin-top: 100px;

}

#footer a{
    text-decoration: none;
    color: #000000;
}

#footer img{
    margin-right: 5px;
}
#footer #logo{
    width: 100px;
    height: 34px;
    background-color: var(--main-color);
}