
#navigation{
    color: #000000;
    background-color: #F1F3FF;
}

#navigation button{
    border: none;
    background-color: #F1F3FF;
}

#navigation #logo{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

#navigation form button{
    background-color: #5CB85F;
    color: #FFFFFF;
    border: none;
}