#filter{
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    padding-top: 2rem;
    background-color:;
    height: 9rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
    
}

#filter #form{
    color: #808080;
}

#filter #btn-sopir{
    color: #808080;
    border: 1px solid;
    border-color: #cfcfcf;
}

#filter #waktu-jemput{
    color: #808080;
    border: 1px solid;
    border-color: #cfcfcf;
}

#filter .dropdown{
    width: 100%;
}

#filter #form label{
    margin-bottom:5px ;
}

#filter #form #submit{
    margin-top: 30px;
    width: 100px;
}


#footer{
    margin-top: 100px;

}

#footer a{
    text-decoration: none;
    color: #000000;
}

#footer img{
    margin-right: 5px;
}
#footer #logo{
    width: 100px;
    height: 34px;
    background-color: #0D28A6;
}

#content{
    margin-top: 100px;
}

#content img {
    object-fit: cover; 
    object-position: center; /* Center the image within the element */
    width: 100%;
    max-height: 230px;
    margin-bottom: 1rem;
  }