#sewa{
    margin-top: 100px;
}


#sewa .container .card{
    padding: 60px;
    background-color: #0D28A6;
    color: #FFFFFF;
    border-radius: 15px;
}

#sewa .container .card p{
    margin-top: 20px;
    margin-bottom: 20px;
    color:#cfcfcf;  
}

#sewa .container .card .btn{
    background-color: #5CB85F;
    border: none;
}