#testimonial{
    margin-top: 100px;
}

#testimonial .testimonial-title{
    text-align: center;
}

#testimonial .card{
    background-color: #F1F3FF;
    text-align: left;
    border-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

#testimonial .person{
    width: 75px;
    margin-left: 20px;
    margin-top: 70px;
}

#testimonial .rate{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
}